body {
  background: #1a1a1a;
}

#svg {
  width: 100%;
  height: 100%;
  cursor:auto !important;
  grid-column: 1;
  grid-row: 1;
} 

.node-background {
  fill: #1a1c1d;
}

.node-header {
  fill: #426D92;
}
.node-header .header-title {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  font-size: 20px;
  fill: #fff;
  text-anchor: middle;
}

.node-container{
  transform-origin: center
}

.node-content {
  fill: #3C3C3C;
}

.port {
  cursor: pointer;
}

.port-scrim {
  fill: transparent;
}

.port-outer {
  fill: #777777;
}

.port-inner {
  fill: #202020;
}

.port-label {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  font-size: 12px;
  fill: #fff;
}

.input-field .port-label {
  text-anchor: start;
}

.output-field .port-label {
  text-anchor: end;
}

.port-subtitle {
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  font-size: 10px;
  fill: #ccc;
}

.input-field .port-subtitle {
  text-anchor: start;
}

.output-field .port-subtitle {
  text-anchor: end;
}

.connector-handle {
  pointer-events: none;
  fill: #E88802;
}

.connector-path {
  pointer-events: none;
  stroke: #E88802;
  stroke-width: 4;
  fill: none;
}

.connector-path-outline {
  pointer-events: none;
  stroke: #333;
  stroke-width: 6;
  fill: none;
}

/*menu*/

.menu-container {
  position: relative;
  left: -150px; /*half of the width*/
  top: 70px; /* a bit more than half of the NodeShape height*/
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.menu-group {
  margin-bottom: 15px;
}
.menu-label {
  display: block;
  margin-bottom: 5px;
}
.menu-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}